@charset "UTF-8";

body {
	line-height: 1.8em;
	background-color: #f3f3f3;
  font-family: 'Montserrat'"Noto Sans Japanese",sans-serif;
}

.wrapper {
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
}
