.footer {
	height: 180px;
	background-color: #333;
	position: relative;
    clear: both;
}

.footer__top {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
}

.btn-for-top{
    display: block;
    width: 100px;
    height: 100px;
    background: url(../../img/footer_top.png) no-repeat center center;
    margin: 0 auto;
    text-indent: -9999px;
}

.footer__list {
	font-family: "Noto Sans Japanese";
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 70px;
    margin-bottom: 40px;
}

.footer__list li {
	display: inline-block;
	width: 7em;
	text-align: center;
}

.copy {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}