.bg {
    width: 940px;
    height: 480px;
    background-image: url(../images/mainvisiul.png);
}

#main {
    width: 700px;
    float: left;
    margin: 60px 20px 120px 0;
    text-align: center;
}

#sub {
    width: 220px;
    margin-top: 60px;
    float: right;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 60px;
}

.btn-twitter {
    display: block;
    width: 220px;
    height: 50px;
    background: url(../../img/btn_twitter.png) no-repeat center center;
    margin-bottom: 24px;
    text-indent: -9999px;
}

.btn-facebook {
    display: block;
    width: 220px;
    height: 50px;
    background: url(../../img/btn_facebook.png) no-repeat center center;
    text-indent: -9999px;
}
