.form-table {
    width: 540px;
    font-size: 16px;
    margin: 0 auto;
}

.form-table th {
    width: 160px;
    line-height: 47px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.form-table td {
    width: 380px;
}

#name,
#mail{
    width: 380px;
    height: 47px;
    margin-bottom: 24px;
    padding-left: 16px;
    box-sizing: border-box;
}

#comment {
    width: 380px;
    height: 160px;
    padding-left: 16px;
    padding-top: 16px;
    box-sizing: border-box;
}

.btn-sub{
    position: relative;
}

#btn-submit{
    width: 140px;
    height: 50px;
    color: #fff;
    background-color: #bfa34c;
    border-radius: 5px;
    position: absolute;
    left: 0;
}