.wrapper {
    width: 940px;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
}

.gallery-list {
    list-style-type: none;
}

.gallery-item {
    margin-bottom: 60px;
    overflow: hidden;
}

.gallery-item:last-child {
    margin-bottom: 0;
}

.gallery-txt {
    float: left;
    text-align: left;
}

.gallery-img {
    float: right;
}

.footer {
    clear: both;
}
