#mv {
    width: 940px;
    height: 480px;
    background: url(../../img/img_mv.jpg) no-repeat center center/cover;
}

.top-h {
    border-bottom: none;
}

#top-main {
    height: 500px;
    width: 700px;
    float: left;
    margin: 60px 20px 120px 0;
    text-align: center;
}

#top-sub {
    height: 300px;
    width: 220px;
    margin-top: 60px;
    float: right;
}
